body{font-family: 'Cairo', sans-serif !important;font-weight:600;}
p{font-weight:400;}
.hidden{display:none;}

.blog_item_inner{background-color:#FFF;}
.section_padding.noticeboard{padding-top:30px;}
.heading_main_menu ul{display:flex;justify-content:flex-end;}


/*  RTL classes  */

.events_schedule table tr td p i{margin-left: 10px;margin-right:0;}
.text-end {text-align: left!important;}
.tesimonials_slider_item p{text-align:left;}
.about_us_inner a:first-child svg{margin-left:15px;margin-right:0;}
.cta_area_inner .boxed_btn i{margin-left:10px;margin-right:0;}
.footer_copyright_social_list:last-child a {padding-right:15px;padding-left:0;}
.heading_sub_left ul li a i {margin-right:0;margin-left:5px;}
.heading_sub_right ul li a i {margin-left:10px;margin-right:0;}
.heading_sub_right ul li:last-child > a {padding-right:20px;}
.about_us_inner ul li i {margin-left:10px;margin-right:0;}


@media (min-width: 768px){
.offset-md-1{margin-right:8.33333333%;margin-left:0;}

}
.far.fa-long-arrow-right{transform: rotate(180deg);}


@media (min-width:992px){
.offset-lg-2{margin-right: 16.66666667%;margin-left:0;}
}
@media (min-width:1200px){
.offset-xl-1{margin-right:8.33333333%;margin-left:0;}
}

